<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="index.js"></script>
    <title>Room</title>
</head>
<body>
    <a href="/"></a>
    <h1><%= room.name %></h1>
    <div id="users-container">
        <% room.users.forEach( user => { %>
            <h2><%= user.name %></h2>
        <% }) %> 
    </div>
    <div id="messages-container"></div>
    <form action="" id="message-form">
        <input id="message-input" type="text">
        <button id="message-button" type="submit">Send</button>
    </form>
    
</body>
</html>